:root {
    --ff-primary: 'Unbounded', cursive;
    --ff-secondary: 'Roboto', sans-serif;

    --bg-color-1: #281D16FF;
    --bg-color-2: #59341AFF;
    --bg-color-3: #A87047FF;

    --text-color-1: #F4AF66FF;
    --text-color-2: #300e06;
    --text-color-3: #cb8840;

    --hours: 10;
    --minutes: 10;
}

.row {
    display: flex;
}

html, body {
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to top right, var(--bg-color-2), var(--bg-color-1));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.border {
    gap: 2rem;
    position: relative;
    /*top: 1rem;*/
    /*left: 1rem;*/
    width: 85%;
    height: 75%;
    background-color: var(--bg-color-3);
    padding: 3rem;
    margin: 0 auto;
    border-radius: 3rem 3rem 3rem 3rem;
}

.content {
    position: relative;
    /*top: 1rem;*/
    /*left: 1rem;*/
    width: 85%;
    height: 90%;
    background: linear-gradient(to bottom right, var(--bg-color-1), var(--bg-color-2));

    padding: 3rem;
    margin: 0 auto;
    border-radius: 3rem 3rem 3rem 3rem;
}


/*WELCOME*/
.grid_container {
    /*background-color: #1e7e34 !important;*/
    display: grid;
    grid-template-areas:
            "logo logo title title title"
            "hint hint hint hint hint"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content";
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    width: 90vw;
    justify-content: center;
    align-items: center;

}

.title {
    height: 100%;
    width: 100%;


}

.title_app {
    grid-area: logo;
    display: flex;
    left: -10rem;
}

.title_welcome {
    grid-area: title;
    display: flex;
    justify-content: right;
    font-size: 1rem;
    color: var(--text-color-1);
    font-family: var(--ff-primary);

}

.title_app h1 {
    font-size: 2rem;
    color: var(--text-color-1);
    font-family: var(--ff-primary);

}

.title_text {
    grid-area: hint;
    margin: 0 0;
    font-size: 1rem;
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    display: grid;
    grid-template-areas: "text clock";
    grid-template-columns: auto 80px;
    align-items: center;
    height: 80px;

}

.title_text h2 a {
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    text-decoration: none;
    animation: pulsate 1s ease-in-out infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.4;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.item {
    grid-row: 2 / span 10;
    grid-column: 2 / span 9;
    width: 100%;
    height: 980%;
    background-image: url("../storage/media/corataca_based_welcome.png");
    background-size: 670px;
    background-position-x: 150rem;
    background-position-y: 130rem;
    background-position: center left;
    background-repeat: no-repeat;
}

/*CLOCK*/
.clock {
    width: 80px;
    height: 80px;
    border: 2px solid var(--text-color-1);
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    grid-area: last;
}

.clock .hour-hand,
.clock .minute-hand,
.clock .second-hand {
    position: absolute;
    background-color: var(--text-color-1);
}

.clock .hour-hand {
    width: 3px;
    height: 25px;
    left: calc(50% - 1.5px);
    top: calc(50% - 25px);
    transform-origin: bottom center;
}

.clock .minute-hand {
    width: 2px;
    height: 35px;
    left: calc(50% - 1px);
    top: calc(50% - 35px);
    transform-origin: bottom center;
}

.clock .second-hand {
    width: 1px;
    height: 45px;
    left: calc(50% - 0.5px);
    top: calc(50% - 45px);
    transform-origin: bottom center;
}

.clock .hour-mark,
.clock .minute-mark {
    position: absolute;
    background-color: #333;
    width: 1px;
    height: 5px;
    transform-origin: bottom center;
}

.clock .hour-mark {
    left: calc(50% - 0.5px);
    top: calc(50% - 25px);
}

.clock .minute-mark {
    left: calc(50% - 0.5px);
    top: calc(50% - 35px);
}

.clock .hour-mark:nth-child(3n),
.clock .minute-mark:nth-child(5n) {
    height: 10px;
}

.clock .hour-mark:nth-child(6n) {
    height: 15px;
}

.clock .hour-mark:nth-child(12n) {
    height: 20px;
}

.clock .digital-clock {
    position: absolute;
    top: calc(50% + 30px);
    left: calc(50% - 20px);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/*MENU*/
.grid_menu {
    display: grid;
    grid-template:
        "logo logo title" 5rem
        ". . user" 1fr
        "main main menu" 1fr
        "main main menu" 1fr
        "main main leaf" 1fr;
    gap: 0 4rem;
}

.menu-statistics {
    grid-area: user;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}



.menu-statistics-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.25rem;
    background: linear-gradient(to right, var(--bg-color-2), var(--bg-color-1));
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    height: 1.2rem;
}

/*Varieties*/
.menu-varieties {
    grid-area: menu;
    display: grid;
    grid-template:
        "head1 head2 head3" 1fr
        "varietie0 varietie0 varietie0" 1fr
        "varietie1 varietie1 varietie1" 1fr
        "varietie2 varietie2 varietie2" 1fr
        "varietie3 varietie3 varietie3" 1fr;
}

.menu-varieties-header {
    grid-area: head3;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: 0.1rem;
    border-radius: 0.25rem;
    left: -3rem;
    top: 2rem;
    color: var(--bg-color-2);
    font-family: var(--ff-secondary) ;
    height: 1.0rem;
    justify-self: right;
}

.menu-varieties-header-2, .menu-varieties-header-3 {
    grid-area: head2;
    background: linear-gradient(to top, var(--text-color-1), var(--bg-color-3));
}

.menu-varieties-header-3 {
    grid-area: head3;
}


.menu-varieties-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
    background: linear-gradient(to right, var(--bg-color-2), var(--bg-color-1));
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    height: 1.5rem;
}

.menu-varieties-item-0 {
    grid-area: varietie0;
}

.menu-varieties-item-1 {
    grid-area: varietie1;
}

.menu-varieties-item-2 {
    grid-area: varietie2;
}

.menu-varieties-item-3 {
    grid-area: varietie3;
}

.menu-varieties-item-button {
    grid-area: button;
}

.menu-varieties-item-name {
    grid-area: varietie;
    justify-self: center;
}

.menu-varieties-item-price {
    grid-area: costs;
    justify-self: center;
}

/* Button-Styling */
.menu-varieties-item-button {
    display: inline-block;
    padding: 1.7rem 1.7rem;
    border: none;
    border-radius: 50%;
    background-color: #e19a15;
    background-image: radial-gradient(circle at 25% 50%, #d4af37 70%, #e19a15 20%);
    opacity: 0.75;
    color: white;
    font-size: 1.0rem;
    text-align: center;
    text-shadow: 1px 1px #333;
    box-shadow: 2px 2px #666;
    background-size: 25px;
}

.menu-varieties-item-button:active {
    box-shadow: 0 1px 0 #7f8c8d, inset 0 0 0 2px #bdc3c7, inset 0 0 3px rgba(255, 255, 255, 0.4);
    top: 1px;
}

.menu-varieties-item-button-0 {
    background-image: url('../storage/media/bg_button1.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-varieties-item-button-1 {
    background-image: url('../storage/media/bg_button2.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-varieties-item-button-2 {
    background-image: url('../storage/media/bg_button3.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-varieties-item-button-3 {
    background-image: url('../storage/media/bg_button4.svg');
    background-repeat: no-repeat;
    background-position: center center;
}


.menu-varieties-item-button:active {
    box-shadow: 0 1px 0 #7f8c8d, inset 0 0 0 2px #bdc3c7, inset 0 0 3px rgba(255, 255, 255, 0.4);
    top: 1px;
}


/*Background-Images*/
.bg_img1 {
    grid-row: 2 / span 4;
    grid-column: 1 / span 3;
    background-image: url('../storage/media/coffeecup.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 640px;
    height: 100%;
    width: 100%;
    background-position-x: -36px;
    background-position-y: -15px;
}

.bg_img2 {
    grid-row: 4 / span 3;
    grid-column: 2 / span 2;
    background-image: url('../storage/media/leaf.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 352px;
    height: 100%;
    width: 100%;
    background-position-x: 312px;
    background-position-y: -130px;
}

/*.progress-section {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: transparent;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    z-index: 9999;*/
/*}*/

/*.progress {*/
/*    color: white;*/
/*    text-align: center;*/
/*    width: 10%;*/
/*    height: 20%;*/

/*}*/

/*.loader {*/
/*    position: center;*/
/*    top: 30%;*/
/*    width: 30%;*/
/*    height: 30%;*/
/*    font-size: 2rem;*/
/*}*/

/*.loader, .progress {*/
/*    background-color: #343030;*/
/*    position: absolute;*/
/*    border: 42px solid #705050;*/
/*    border-top: 14px solid #c4a8a8;*/
/*    border-radius: 50%;*/
/*    top: 20vh;*/
/*    left: 20vw;*/
/*    animation: spin 5s ease-in-out infinite;*/
/*    !*display: flex;*!*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    overflow: hidden;*/
/*    font-family: var(--ff-primary);*/
/*}*/

/*.loader:before,*/
/*.progress:before {*/
/*    position: absolute;*/
/*    color: #705050;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    transform: translate(-50%, -50%) rotate(-90deg);*/
/*}*/

/*.loader:before {*/
/*    content: "Bitte Karte auflegen";*/
/*    font-size: 0.31rem;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*}*/

/*.progress:before {*/
/*    content: "Reset ID";*/
/*    font-size: 3rem;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*}*/
