:root {
    --ff-primary: 'Unbounded', cursive;
    --ff-secondary: 'Roboto', sans-serif;
    --ff-third: 'Gruppo', cursive;
    --digital-clock: 'Sono', sans-serif;

    --bg-color-1: #281D16FF;
    --bg-color-2: #59341AFF;
    --bg-color-3: #9f6034;
    --bg-color-4: rgb(222, 175, 141);
    --bg-color-5: rgba(94,79,70,75);
    --bg-color-6: rgba(169,84,32,75);
    --bg-color-3-opactity-75: rgba(168, 112, 71, 0.75);

    --text-color-1: #F4AF66FF;
    --text-color-2: #300e06;
    --text-color-3: #cb8840;
    --text-color-3-opactity-75: rgba(203, 136, 64, 0.75);

    --hours: 10;
    --minutes: 10;
    --shadow-offset: 2rem; /* Abstand des Schattens vom Content */
    --shadow-blur: 3rem; /* Unschärfe des Schattens */
}

.row {
    display: flex;
}

html, body {
    height: 100vh;
    /*margin: 0;*/
    overflow: hidden;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    background: linear-gradient(to top right, var(--bg-color-2), var(--bg-color-1));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.border {
    gap: 2rem;
    position: relative;
    /*top: 1rem;*/
    /*left: 1rem;*/
    width: 85%;
    height: 75%;
    background-color: var(--bg-color-3);
    padding: 3rem;
    margin: auto;
    border-radius: 3rem 3rem 3rem 3rem;
}

.itb {
    position: absolute;
    top: 35rem;
    left: 61.3rem;
    z-index: 1000;
    width: 4%;
    height: 4%;
}

.uni-logo {
    position: absolute;
    top: 34.5rem;
    left: 55.8rem;
    z-index: 1000;
    width: 7%;
    height: 7%;
}

/*.content {*/
/*    position: relative;*/
/*    width: 85%;*/
/*    height: 82%;*/
/*    background: linear-gradient(to bottom right, var(--bg-color-1), var(--bg-color-2));*/
/*    padding: 2rem;*/
/*    margin: auto;*/
/*    border-radius: 3rem 3rem 3rem 3rem;*/
/*}*/


.content {
    position: relative;
    background: linear-gradient(to bottom right, var(--bg-color-1), var(--bg-color-2));
    padding: 2rem;
    width: 85%;
    height: 82%;
    margin: auto;
    border-radius: 3rem;
    box-shadow: var(--bg-color-2) 0 .5rem var(--shadow-blur),
    var(--bg-color-3) .7rem -.7rem var(--shadow-blur),
    var(--bg-color-4) -.7rem -.7rem var(--shadow-blur),
    var(--bg-color-5) 0 0 var(--shadow-blur),
    var(--bg-color-6) -.7rem .7rem var(--shadow-blur),
    var(--bg-color-2) .7rem .7rem var(--shadow-blur);
    animation: shadow-move 10s infinite;
}

@keyframes shadow-move {
    0% {
        box-shadow: var(--bg-color-2) 0 .5rem var(--shadow-blur),
        var(--bg-color-2) .7rem -.7rem var(--shadow-blur),
        var(--bg-color-3) -.7rem -.7rem var(--shadow-blur),
        var(--bg-color-4) 0 0 var(--shadow-blur),
        var(--bg-color-5) -.7rem .7rem var(--shadow-blur),
        var(--bg-color-6) .7rem .7rem var(--shadow-blur);
    }
    16.67% {
        box-shadow: var(--bg-color-2) 0 .5rem var(--shadow-blur),
        var(--bg-color-3) .7rem -.7rem var(--shadow-blur),
        var(--bg-color-4) -.7rem -.7rem var(--shadow-blur),
        var(--bg-color-5) 0 0 var(--shadow-blur),
        var(--bg-color-6) -.7rem .7rem var(--shadow-blur),
        var(--bg-color-2) .7rem .7rem var(--shadow-blur);
    }
    33.33% {
        box-shadow: var(--bg-color-3) 0 .5rem var(--shadow-blur),
        var(--bg-color-4) .7rem -.7rem var(--shadow-blur),
        var(--bg-color-5) -.7rem -.7rem var(--shadow-blur),
        var(--bg-color-6) 0 0 var(--shadow-blur),
        var(--bg-color-2) -.7rem .7rem var(--shadow-blur),
        var(--bg-color-4) .7rem .7rem var(--shadow-blur);
    }
    50% {
        box-shadow: var(--bg-color-4) 0 .5rem var(--shadow-blur),
        var(--bg-color-5) .7rem -.7rem var(--shadow-blur),
        var(--bg-color-6) -.7rem -.7rem var(--shadow-blur),
        var(--bg-color-2) 0 0 var(--shadow-blur),
        var(--bg-color-4) -.7rem .7rem var(--shadow-blur),
        var(--bg-color-3) .7rem .7rem var(--shadow-blur);
    }
    66.67% {
        box-shadow: var(--bg-color-5) 0 .5rem var(--shadow-blur),
        var(--bg-color-6) .7rem -.7rem var(--shadow-blur),
        var(--bg-color-2) -.7rem -.7rem var(--shadow-blur),
        var(--bg-color-4) 0 0 var(--shadow-blur),
        var(--bg-color-3) -.7rem .7rem var(--shadow-blur),
        var(--bg-color-4) .7rem .7rem var(--shadow-blur);
    }
    83.33% {
        box-shadow: var(--bg-color-6) 0 .5rem var(--shadow-blur),
        var(--bg-color-2) .7rem -.7rem var(--shadow-blur),
        var(--bg-color-2) -.7rem -.7rem var(--shadow-blur),
        var(--bg-color-3) 0 0 var(--shadow-blur),
        var(--bg-color-4) -.7rem .7rem var(--shadow-blur),
        var(--bg-color-5) .7rem .7rem var(--shadow-blur);
    }
    100% {
        box-shadow: var(--bg-color-2) 0 .5rem var(--shadow-blur),
        var(--bg-color-2) .7rem -.7rem var(--shadow-blur),
        var(--bg-color-3) -.7rem -.7rem var(--shadow-blur),
        var(--bg-color-4) 0 0 var(--shadow-blur),
        var(--bg-color-5) -.7rem .7rem var(--shadow-blur),
        var(--bg-color-6) .7rem .7rem var(--shadow-blur);
    }
}

/*WELCOME*/
.grid_container {
    /*background-color: #1e7e34 !important;*/
    display: grid;
    grid-template-areas:
            "logo logo logo . title"
            "hint hint hint hint hint"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content"
            "content content content content content";
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    width: 90vw;
    justify-content: center;
    align-items: center;

}

.title {
    height: 100%;
    width: 100%;
}

.title_app {
    grid-area: logo;
    display: flex;
    left: -10rem;
}

.title_welcome {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color-1);
    font-family: var(--ff-primary);
    white-space: normal;
}


.title_app h1 {
    font-size: 2rem;
    color: var(--text-color-1);
    font-family: var(--ff-primary);
}

.title_text {
    grid-area: hint;
    margin: 0 0;
    font-size: 1rem;
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    display: grid;
    grid-template-areas: "text clock";
    grid-template-columns: auto 80px;
    align-items: center;
    height: 80px;
}

.title_text h2 a {
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    text-decoration: none;
    animation: pulsate 1s ease-in-out infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.4;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.item {
    grid-row: 2 / span 10;
    grid-column: 1 / span 9;
    width: 100%;
    height: 980%;
    background-image: url("../storage/media/corataca_based_welcome.png");
    background-size: 490px;
    background-position-x: 1rem;
    background-position-y: 130rem;
    background-position: center;
    background-repeat: no-repeat;
}

.user_not_found {
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    text-decoration: none;
}

.user_not_found b {
    background: var(--text-color-1);
    color: var(--bg-color-1);
    font-family: var(--ff-primary);
}

.service-pulse {
    animation: pulsate 1s ease-in-out infinite;
}

.service {
    width: 50%;
    font-family: var(--ff-third);
}

.disruption{
    width: 50%;
    font-family: var(--ff-third);
    font-size: xxx-large;
    font-weight: bold;
    color: var(--bg-color-6);
}

.disruption-text {
    font-family: var(--ff-third);
    font-size: medium;
}

.disruption-border {
    width: 50%;
    border: 1rem solid var(--bg-color-6);
    border-radius: 2rem;
    padding: 2rem;
}

/*CLOCK*/
.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1 / span 4;
    grid-column: 4 / span 3;
}

.clock {
    width: 160px; /* doubled width */
    height: 160px; /* doubled height */
    border: 2px solid var(--text-color-1);
    border-radius: 50%;
    position: relative;
    margin: 5px auto;

}

.clock .hour-hand,
.clock .minute-hand,
.clock .second-hand {
    position: absolute;
    background-color: var(--text-color-1);
}

.clock .hour-hand {
    width: 6px; /* doubled width */
    height: 50px; /* doubled height */
    left: calc(50% - 3px); /* adjusted position */
    top: calc(50% - 50px); /* adjusted position */
    transform-origin: bottom center;
}

.clock .minute-hand {
    width: 4px; /* doubled width */
    height: 70px; /* doubled height */
    left: calc(50% - 2px); /* adjusted position */
    top: calc(50% - 70px); /* adjusted position */
    transform-origin: bottom center;
}

.clock .second-hand {
    width: 2px; /* doubled width */
    height: 90px; /* doubled height */
    left: calc(50% - 1px); /* adjusted position */
    top: calc(50% - 90px); /* adjusted position */
    transform-origin: bottom center;
}

.clock .hour-mark,
.clock .minute-mark {
    position: absolute;
    background-color: #333;
    width: 2px; /* doubled width */
    height: 10px; /* doubled height */
    transform-origin: bottom center;
}

.clock .hour-mark {
    left: calc(50% - 1px); /* adjusted position */
    top: calc(50% - 50px); /* adjusted position */
}

.clock .minute-mark {
    left: calc(50% - 1px); /* adjusted position */
    top: calc(50% - 70px); /* adjusted position */
}

.clock .hour-mark:nth-child(3n),
.clock .minute-mark:nth-child(5n) {
    height: 20px; /* doubled height */
}

.clock .hour-mark:nth-child(6n) {
    height: 30px; /* doubled height */
}

.clock .hour-mark:nth-child(12n) {
    height: 40px; /* doubled height */
}

.clock .digital-clock {
    position: absolute;
    top: calc(50% + 60px); /* adjusted position */
    left: calc(50% - 40px); /* adjusted position */
    font-size: 24px; /* doubled font size */
    font-weight: bold;
    text-align: center;
}

.digital-clock {
    color: var(--text-color-1);
    font-family: var(--digital-clock);
    font-size: 1.4rem;
    margin: 1rem auto;
}

/*MENU*/
.grid_menu {
    display: grid;
    grid-template:
        "logo logo title" 5rem
        "user user menu" 20rem
        "main main leaf" 5rem;
    gap: 0 4rem;
}

.menu-statistics {
    grid-area: user;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 4rem;
    max-height: 10rem;
    width: 20rem;
    top: -2rem;
}

.menu-statistics-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.25rem;
    background: linear-gradient(to right, var(--bg-color-2), var(--bg-color-1));
    opacity: 75%;
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    height: 1.2rem;
}

.menu-statistics-item h3 {
    justify-self: flex-start;
}

.menu-statistics-item p {
    justify-self: flex-end;
}

/*Varieties*/
.menu-varieties {
    grid-area: menu;
    display: grid;
    grid-template:
        "head1 head2 head3" 1fr
        "varietie0 varietie0 varietie0" 1fr
        "varietie1 varietie1 varietie1" 1fr
        "varietie2 varietie2 varietie2" 1fr
        "varietie3 varietie3 varietie3" 1fr
        "varietie4 varietie4 varietie4" 1fr;
}

.menu-varieties-header {
    grid-area: head3;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
    padding: 0.1rem;
    border-radius: 0.25rem;
    left: -3rem;
    top: 2rem;
    color: var(--bg-color-2);
    font-family: var(--ff-secondary);
    width: 8rem;
    height: 1.0rem;
    justify-self: right;
}

.menu-varieties-header-2, .menu-varieties-header-3 {
    grid-area: head2;
    background: linear-gradient(to top, var(--bg-color-3-opactity-75), var(--text-color-3-opactity-75));
}

.menu-varieties-header-3 {
    grid-area: head3;
}

.menu-varieties-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    margin: 0.5rem 0.2rem;
    border-radius: 0.25rem;
    background: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
    color: var(--text-color-1);
    font-family: var(--ff-secondary);
    height: 1.5rem;
}

.menu-varieties-item h5 {
    justify-self: left;
}

.menu-varieties-item-0 {
    grid-area: varietie0;
}

.menu-varieties-item-1 {
    grid-area: varietie1;
}

.menu-varieties-item-2 {
    grid-area: varietie2;
}

.menu-varieties-item-3 {
    grid-area: varietie3;
}

.menu-varieties-item-4 {
    grid-area: varietie4;
}

.menu-varieties-item-button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

.menu-varieties-item-name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
}

.menu-varieties-item-price {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
}


/* Button-Styling */
.btn {
    width: 5rem;
    border: none;
    border-radius: 40%;
    background-color: #e19a15;
    background-image: radial-gradient(circle at 25% 50%, #d4af37 70%, #e19a15 20%);
    opacity: 0.75;
    color: white;
    font-size: 1.0rem;
    text-align: center;
    text-shadow: 1px 1px #333;
    box-shadow: 2px 2px #666;
    background-size: 25px;
}

.menu-varieties-item-button {
    justify-self: center;
    display: inline-block;
    padding: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-varieties-item-button-0 {
    justify-self: left;
    background-image: url('../storage/media/bg_button1.svg');
}

.menu-varieties-item-button-1 {
    background-image: url('../storage/media/bg_button2.svg');
}

.menu-varieties-item-button-2 {
    background-image: url('../storage/media/bg_button3.svg');
}

.menu-varieties-item-button-3 {
    background-image: url('../storage/media/bg_button4.svg');
}

.menu-varieties-item-button-4 {
    background-image: url('../storage/media/bg_button5.svg');
}

.menu-varieties-item-button:active {
    box-shadow: 1px -1px 0 #7f8c8d, inset 0 0 0 5px #bdc3c7, inset 0 0 3px rgba(255, 255, 255, 0.4);
    top: 1px;
}

.menu-logout {
    grid-area: main;
}

.menu-logout-button {
    display: inline-flex;
    padding: 1.7rem 1.0rem;
    align-item: center;
}

.maintenance-mode {
    grid-area: leaf;
    background-color: var(--bg-color-3);
    color: var(--text-color-2);
    font-family: var(--ff-secondary);
    padding: 0;
    border: 1px dashed var(--text-color-2);
    border-radius: 0.3rem;
    justify-self: right;
    box-sizing: border-box;
    margin: 0.7rem;
}

.limit {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #343030;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/*Background-Images*/
.bg_img1 {
    grid-row: 2 / span 4;
    grid-column: 1 / span 3;
    background-image: url('../storage/media/coffeecup.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 440px;
    height: 100%;
    width: 100%;
    background-position-x: 9rem;
    background-position-y: -1.1rem;
    opacity: 70%;
}

/*Progress*/
.coffee-cup {
    /* Styles für die Kaffeetasse */
}

.coffee-cup-animation {
    animation-name: fill-coffee;
    animation-duration: 5s;
    animation-delay: 2s; /* Verzögerung von 2 Sekunden */
    animation-fill-mode: backwards;
}

@keyframes fill-coffee {
    from {
        height: 0;
    }
    to {
        height: 50%;
    }
}

.progress {
    color: white;
    text-align: center;
    width: 30%;
    height: 60%;
    background-color: #343030;
    position: absolute;
    border: 42px solid #705050;
    border-top: 14px solid #c4a8a8;
    border-radius: 50%;
    top: 20vh;
    left: 20vw;
    animation: spin 2s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: var(--ff-primary)
}

.in-progress {
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: #343030;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.progress-section {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.waiting-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-svg {
    width: 100%;
    height: 100%;
    fill: #9CAFD4;
}


@keyframes strokeAnimation {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-80%);
    }
}

#fillThis {
    stroke: #000;
    stroke-width: 1;
    fill: none;
}

.green-path {
    fill: green;
    animation: strokeAnimation 2s linear forwards;
}


